body {
    margin: 0;
    font-family: 'Georgia', serif;
    color: #000;
    background: #fff;
    flex-wrap: wrap;
}

/* Header */
header {
    border-bottom: 1px solid #eee;
    padding: 15px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    /* agar jagah kam ho to line break */
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Georgia', serif;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

/* Mobile Responsive */
@media (max-width: 600px) {
    .header-container {
        flex-direction: column;
    }
}

.hero {
    padding: 30px;
    text-align: center;
}

.hero img {
    width: 100%;
    max-width: 800px;
}

.hero h1 {
    font-size: 34px;
}

hr {
    color: black;
    margin-left: 100px;
    margin-right: 100px;
}

.articles {
    text-align: center;
    padding: 40px;
}

.articles h2 {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

.card {
    flex: 1 1 250px;
    /* har card ki minimum width 250px hogi */
    max-width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    height: 160px;
}

.card p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

footer .tags {
    font-size: 12px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-content h3 {
    font-size: 20px;
    margin: 10px 0;
}

.footer-content p {
    font-size: 13px;
    color: #aaa;
    max-width: 600px;
    margin: 10px auto;
}

.social a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    margin: 0 5px;
}

.copy {
    font-size: 12px;
    margin-top: 20px;
    color: #777;
}